<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Child & Elder Care Service</title>
<meta name="description" content="">
<meta name="author" content="Ridwan & Tahiyat">



<!-- Bootstrap -->
<link rel="stylesheet" type="text/css"  href="../static/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="../static/fonts/font-awesome/css/font-awesome.css">

<!-- Stylesheet
    ================================================== -->
<link rel="stylesheet" type="text/css"  href="../static/css/style.css">
<link rel="stylesheet" type="text/css" href="../static/css/prettyPhoto.css">
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300" rel="stylesheet" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" href="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>

<body id = "home-top" data-spy = "scroll" data-target=".navbar-fixed-top">

    <!-- top nav bar -->
    <nav id = "menu" class="navbar navbar-default navbar-fixed-top">
        <div class = "container">

            <div class="navbar-header">
                <!-- collapse when size of screen is small -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-top">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                 </button>
                <!-- logo -->
                <a class="navbar-brand page-scroll" href="#home-top"><i class="fa fa-moon-o fa-rotate-90"></i> Sheba</a>
            </div>

            <!-- /.navbar-collapse -->
            <div class="collapse navbar-collapse" id="navbar-top">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#home-top">Home</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#team">Team</a></li>
                <li><a href="#contact">Contact</a></li>
              </ul>
            </div>
        </div>
    </nav>

    <header id ="header">
        <div class="intro">
            <div class="overlay">
                <div class="container">
                    <div class="row">
                      <div class="intro-text">
                        <h1>Welcome to <span class="brand">SHEBA</span></h1>
                        <p>We Provide Child & Elder Care Service At Your Home</p>
                        <a href="#services" class="btn btn-default">Learn More</a>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

</body>
</html>