#menu.navbar-inverse {
	background-color:#03252b;
	border-color: rgba(231, 231, 231, 0);
}

#menu a {
    	font-size: 20px;
	color: rgba(255,255,255,0.8);
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
}
#menu a:hover, a:focus {
	text-decoration: none;
	color: #25BAD0;
}



.column {
  float: left;
  width: 50%;
  margin-left: 30px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}



/* Footer Section*/

#footer p {
	font-size: 13px;
    color: #e0e1ea;
}
#footer a {
	color: #e0e1ea;
}
#footer a:hover {
	color: #25BAD0;
}
#footer {
    position: fixed;
    height: 50px;
	background: #03252b;
	padding: 25px 0 20px 0;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}