<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">



</head>
<body>
<form method="post" action="">
    {%csrf_token%}
    {%for req in all_req%}

      <p>{{req.service_type}}</p>

      <input type="text" placeholder="Enter Email" name="location" value="{{req.location}}" id ="service_type" required>
        <a type="button" href="{% url 'sp_request' pk=req.pk %}" class="signupbtn">Log In</a>


    {%endfor%}</form>
</body>
</html>