<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {%for his in all_his%}
    <table border="2" margin="20%">

        <tr><td>Customer ID: <td> {{his.customer}}</td></td></tr>
        <tr><td>Service Provider ID: <td>{{his.sp_id}}</td></td></tr>
        <tr><td>Location: <td>{{his.location}}</td></td></tr>
        <tr><td>Service type: <td>{{his.service_type}}</td></td></tr>
        <tr><td>Start time: <td>{{his.start_time}}</td></td></tr>
        <tr><td>end time: <td>{{his.end_time}}</td></td></tr>
    </table>
    {%endfor%}
</body>
</html>