{% extends 'sheba/base.html' %}
{% block content %}
    <!--header-->
 <div id="head" class="text-center">
    <header id ="header">
        <div class="intro"> <!-- css -->
            <div class="overlay"> <!-- css -->
                <div class="container">
                    <div class="row">
                      <div class="intro-text"> <!-- css -->
                        <h1>Welcome to <span class="brand">SHEBA</span></h1>
                        <p>We Provide Child & Elder Care Service At Your Home</p>
                          <!-- header button -->
                        <a href="#services" class="btn btn-default">Learn More</a>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
 </div>

<!-- Services Section -->
    <div id="services" class="text-center">
      <div class="container">

        <div class="col-md-8 col-md-offset-2 section-title">
          <h2>Our Services</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor apibus lornare diam commodo nibh.</p>
        </div>

          <div class="row">
              <div class="col-xs-6 col-md-3"> <i class="fa fa-child"></i>
                <h4>Child Care</h4>
                <p>Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend pellentesque natoque etiam.</p>
              </div>

              <div class="col-xs-6 col-md-3"> <i class="fa fa-male"></i>
                <h4>Elder Care</h4>
                <p>Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend pellentesque.</p>
              </div>

              <div class="col-xs-6 col-md-3"> <i class="fa fa-rocket"></i>
                <h4>Lorem ipsum </h4>
                <p>Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend pellentesque natoque etiam.</p>
              </div>

              <div class="col-xs-6 col-md-3"> <i class="fa fa-line-chart"></i>
                <h4>Lorem ipsum </h4>
                <p>Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend pellentesque natoque.</p>
              </div>
        </div>
      </div>
    </div>



{%endblock%}