{% load static %}
{% load i18n %}
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src='https://maps.googleapis.com/maps/api/js?key=AIzaSyALNPHGbxTegKMp_LwOdenv8xFEzkPvIcA&callback=initMap'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-locationpicker/0.1.12/locationpicker.jquery.min.js"></script>

</head>

<body>
<div class="container-fluid" id="views">

Location: <input name="location" type="text" id="us2-address" style="width: 440px"/>
<div id="us2" style="width: 500px; height: 400px;"></div>

    <h4>{{details.service_type}}</h4>
    <h4>{{details.start_time}}</h4>
    <h4>{{details.end_time}}</h4>
   <h4>Payment</h4>
    <h4>{{user.0.first_name}}</h4>
   <h4>{{user.0.rating}}</h4>

                  <a href="{% url 'available_request' %}" class="btn btn-info" >Back</a>
                  <a href="{% url 'sp_request' pk=details.pk %}" class="btn btn-success" >Accept</a>

</div>
</body>

<script>
    $('#us2').locationpicker({
        location: {
            latitude: {{details.lat}},
            longitude: {{details.lon}}
        },
        inputBinding: {
            locationNameInput: $('#us2-address'),
        }
    });
</script>