{%load static%}
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Homepage</title>
<meta name="description" content="">
<meta name="author" content="Ridwan & Tahiyat">



<!-- Bootstrap -->
<link rel="stylesheet" type="text/css"  href="../static/css/bootstrap.css">
<link rel="stylesheet" href="{% static 'css/sheba.css' %}">
<link rel="stylesheet" type="text/css" href="../static/fonts/font-awesome/css/font-awesome.css">

<!-- Stylesheet
    ================================================== -->

<!-- for collapse navbar -->


<body id = "home-top" data-spy = "scroll" data-target=".navbar-fixed-top">

    <!-- top nav bar -->
    <nav id = "menu" class="navbar navbar-default navbar-fixed-top">
        <div class = "container">

            <div class="navbar-header">
                <!-- collapse when size of screen is small -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-top">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                 </button>
                <!-- logo -->
                <a class="navbar-brand page-scroll" href="#home-top"><i class="fa fa-moon-o fa-rotate-90"></i> Sheba</a>
            </div>

            <!-- /.navbar-collapse -->
            <div class="collapse navbar-collapse" id="navbar-top">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/profile"><font size="3">Profile</font></a></li>
                <li><a href="/logout"><font size="3">Logout</font></font></a></li>
                  <li><a href="/history"><font size="3">History</font></a> </li>
              </ul>
            </div>
        </div>
    </nav>



<div id="head" class="text-center">
    <header id ="header">
        <div class="intro"> <!-- css -->
            <div class="overlay"> <!-- css -->
                <div class="container">
                    <div class="row">
                      <div class="intro-text"><!-- css -->
                          <form method="post">

                          {% csrf_token %}
                          {% if user_type == "user" %}
                            <h1><span class="brand">Request</span></h1>

                          <!-- header button -->
                            <a href="/request" class="btn btn-default">Request Service</a>

                          {% endif %}
                          {%if user_type == "service_provider" %}
                           <h1><span class="brand">Available Services</span></h1>

                          <!-- header button -->
                            <a href="/available_request" class="btn btn-default">Services</a>
                          {% endif %}
                          </form>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
 </div>
<div id="footer">
  <div class="container text-center">
    <div class="fnav">
      <p>Copyright &copy; 2019 CycloCoder. Designed by Sheba</p>
    </div>
  </div>
</div>


<!-- initialize jQuery Library -->
  <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <!-- Bootstrap -->
  <script src="../static/js/bootstrap.js"></script>
  <!-- Counter -->
  <!-- mixit slider -->
  <!-- Add fancyBox -->
  <!-- Wow animation -->

 <!-- Custom js -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../static/js/main.js"></script>
</body>
    <!--header-->


<!-- Services Section -->
</html>



