{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <title>signup</title>

</head>
<body>


  <form class="modal-content" method="post" action="">

          {% csrf_token %}
    <div class="container">
            <div class="w3-container w3-brown">
    <h2 align="center">Create A New Account</h2>
  </div>
      <hr>
      <label ><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="id" id ="id" required>

      <label ><b>Password</b></label>
      <input type="password" placeholder="Enter Password" id="password" name="password" required>

      <label ><b>Repeat Password</b></label>
      <input type="password" placeholder="Repeat Password" name="re_password" id="re_password" required>

        <input type="checkbox" name="checkboxG5" id="checkboxG5"  checked="checked"/>
		<label for="checkboxG5" class="css-label">I agree with the terms and condition</label>


        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                 </div>
            {% endfor %}
        {% endif %}

      <div class="clearfix">
        <button type="button" onclick="window.location.href='/'" class="cancelbtn">Cancel</button>
        <button type="submit" class="signupbtn">Sign Up</button>
      </div>
                  <div >
                <p align="center"><b>Already have an account?</b></p>
				<a href="#">
                    <p align="center"><b>login now</b></p>
				</a>
          </div>
    </div>
  </form>


<script>

</script>

</body>
</html>
